
    .item-avatar > img:first-child {
        border-radius: 50% !important;
        overflow: hidden;
    }
    .item-avatar{
        height: 270px;
        padding-left: 20px;
    }

    .cart {
        font-size: 50px;
     }
     
     .trial{
         --color: #F9B13D;
         padding-left: 30px;
     }
  